<div class="container">
      <h3>注文履歴詳細</h3>
      <div class="row">
         <p class="col-md-2">購入者</p>
         <p class="col-md-10">
            <%= link_to admin_customer_path(@order.customer_id) do %>
               <%= @order.customer.last_name_kanji %> <%= @order.customer.first_name_kanji %>
            <% end %>
         </p>
      </div>
         
      <div class="row">
         <p class="col-md-2">注文日</p>
         <p class="col-md-10"><%= @order.created_at.to_s(:date_jp) %></p>
      </div>
        
      <div class="row">
         <p class="col-md-2">配送先</p>
         <p class="col-md-10">〒<%= @order.postal_code.to_s %> <%= @order.delivery_address %></p>
      </div>
        
      <div class="row">
         <p class="col-md-2"></p>
         <p class="col-md-10"><%= @order.delivery_name %></p>
      </div>
      
      <div class="row">
         <p class="col-md-2">支払い方法</p>
         <p class="col-md-10"><%= @order.payment %></p>
      </div>

      <div class="row">
         <p class="col-md-2">注文ステータス</p>
         <div class="col-md-10">
            <%= form_with model: @order, url:admin_order_path(@order.id), method: :patch, local: true do | f | %> 
               <%= f.select :order_status, Order.order_statuses.invert, class:"form-control" %>
               <%= f.submit '更新',class: 'btn btn-success' %>
            <% end %>
         </div>
      </div>
      <div class="row mt-5">
         <div class="col-md-8">
            <table class="table table-hover">
               <thead>
                  <tr>
                     <th>商品名</th>
                     <th>単価(税込)</th>
                     <th>数量</th>
                     <th>小計</th>
                     <th>制作ステータス</th>
                  </tr>
               </thead>
               <tbody>
                  <% @order.order_details.each do |order_detail| %>
                   <tr>
                      <td><%= order_detail.item.name %></td>
                      <td><%= order_detail.item_with_tax.to_s(:delimited) %></td>
                      <td><%= order_detail.quantity %></td>
                      <td><%= order_detail.subtotal.to_s(:delimited) %></td>
                      <td>
                         <%= form_with model: order_detail, url: admin_order_detail_path(order_detail.id), method: :patch,  local: true do | f | %>
                         <%= f.select :order_status, options_for_select_from_enum(Order, :order_status) %> <%= f.select :order_status, Order.order_statuses, class:"form-control form-control-sm col-6" %>
                         <%= f.submit '更新',class: 'btn btn-success' %>
                         <% end %>
                      </td>
                   </tr>
                  <% end %>
               </tbody>
            </table>
         </div>
         <div class="col-md-4 d-flex align-items-end ">
            <div class="ml-5">
               <p>商品合計　　　<%= @order.total_price %>円 %></p>
               <p>送料　　　　　<%= @order.shipment_charge %>円</p>
               <p>請求金額合計　<% @total += (order_detail.item_with_tax*order_detail.quantity) %>円</p>
            </div>
         </div>
      </div>
</div>