<h1>配送先登録／一覧</h1>
<%= form_with model: @delivery_address, url: addresses_path, local: true, method: :POST do |f| %>

  <div class="field">
    <%= f.label :"郵便番号(ハイフンナシ)" %><br>
    <%= f.text_field :postal_code %>
  </div>

  <div class="field">
    <%= f.label :"住所" %><br>
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label :"宛名" %><br>
    <%= f.text_field :name %>
  </div>
  
  <div class="actions">
    <%= f.submit "新規登録" %>
  </div>
<% end %>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>郵便番号</th>
            <th>住所</th>
            <th>宛名</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    <%= @delivery.each do |delivery| %>
        <tr>
            <th><%= delivery.postal_code %></th>
            <td><%= delivery.address %></td>
            <td><%= delivery.name %></td>
            <td>
              <%= link_to "編集する", edit_address_path(@delivery_address) %>
              <%= link_to "削除する", address_path(@delivery_address), method: :DELETE %>
            </td>
        </tr>

    </tbody>
</table>


