<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 style="margin-top: 25px;"><i class="fas fa-pen"></i>注文情報入力</h2>
      <p><%= notice %></p>

      <%= form_with model:@order, local: true, url: orders_confirm_path, method: :post do |f| %>
      <div class="main-box" style="mergin-left: 20px;">

        <strong>支払い方法</strong>
        <!-- ラジオボタンの記述 -->
        <div class="flex-container">
          <label><%= f.radio_button :payment, 0, checked: "checked" %> クレジットカード</label></br>
          <label style="margin-left: 200px;"><%= f.radio_button :payment, 1, checked: "checked" %> 銀行振込</label>
        </div>
        <!-- my住所  -->
        <strong class="flex-container">お届け先</strong>
        <!--<div class="flex-container">-->
          <label style="margin: 15px;"><%= f.radio_button :address_number, 1,checked: "checked" %> ご自身の住所</label><br>
          <div>
             〒 <%= current_customer.postal_code %>
            <%= current_customer.address %><br>
            <%= current_customer.first_name_kanji %>
            <%= current_customer.last_name_kanji %>
          </div><br><br>

        <!-- 登録済住所 -->
        <label style="margin: 15px;"><%= f.radio_button :address_number, 2 %> 登録済住所からの選択</label><br>
        <div>
          <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
            〒 <option value= "1"<%= f.collection_select :address, @current_customer.delivery_addresses.all, :id, :address_all %>
            </option>
          </select>
        </div>

        <!-- 新規届け先 -->
        <label style="margin: 15px;"><%= f.radio_button :address_number, 3 %> 新しいお届け先</label><br>
        <div style="display: flex; margin-left:15% ;">
          <div style="display: flex; flex-direction: column; flex-wrap: wrap; width: 60px;">
            <%= f.label :"郵便番号(ハイフンなし)" %><br><br>
            <%= f.label :"住所" %><br><br>
            <%= f.label :"宛名" %><br><br>
          </div>
          <div style="margin-left: 20px;">
            <%= f.text_field :postal_code %><br><br>
            <%= f.text_field :delivery_address ,size: "60" %><br><br>
            <%= f.text_field :delivery_name %><br><br>
            <%= f.submit "確認画面に進む", class: "btn btn-primary text-center" %>
          </div>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>
      <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
        <option selected>Choose...</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
<!--登録済み住所から選択-->
<form>
  <div class="form-row align-items-center">
    <div class="col-auto my-1">
      <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Preference</label>
      <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
        <option selected>Choose...</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
    </div>
  </div>
</form>

